        .nav {
          height: 200px;
          background-color: rgba(255, 84, 84, 0.591);
          color: black;
          display: flex;
          align-items: center;
          border-radius: 0 0 10px 10px;
          margin-bottom: 50px;
        }

        .row {
          display: flex;
          justify-content: space-around;
        }

        .card {
          width: 18rem;
          display: flex;
          justify-content: space-around;
          margin-bottom: 60px;
          background-color: rgb(161, 206, 255);
          box-shadow: 2.5px 4px rgb(138, 137, 137);
        }

        .list-group-item {
          background-color: rgba(240, 240, 240, 0.913);
        }

        .card-header {
          text-align: center;
        }

        .card-subtitle {
          margin-bottom: 10px;
          text-align: center;
        }

        footer {
          position: absolute;
          width: 100%;
          bottom: 0;
          text-align: center;
        }